<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">

    <!--Bootstrap Framework -->
    <link href="Assets/Css/bootstrap-grid.min.css" rel="stylesheet">
    <link href="Assets/Css/bootsrap.css" rel="stylesheet">

    <title>Admin Dashboard</title>
  </head>
  <body>
    <!-- Option 1: Bootstrap Javascript for responsiveness -->
  <script src="Assets/Js/bootstrap.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
  <script src="https://kit.fontawesome.com/d89c2ca226.js" crossorigin="anonymous"></script>

    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>

  <style>
    body
    {
      background-color: #F8F9FF;
    }
  </style>
</html>

